cap7-provisioners/Lab3/tarefa1/.terraform.lock.hcl
cap7-provisioners/Lab3/tarefa1/.terraform/providers/registry.terraform.io/hashicorp/aws/6.14.1/linux_amd64/LICENSE.txt
cap7-provisioners/Lab3/tarefa1/.terraform/providers/registry.terraform.io/hashicorp/aws/6.14.1/linux_amd64/terraform-provider-aws_v6.14.1_x5
cap7-provisioners/Lab3/tarefa1/terraform.tfstate
cap7-provisioners/Lab3/tarefa1/terraform.tfstate.backup
cap7-provisioners/Lab3/tarefa2/dsa-lab3.pem
cap7-provisioners/Lab3/tarefa2/.terraform.lock.hcl
cap7-provisioners/Lab3/tarefa2/.terraform/providers/registry.terraform.io/hashicorp/aws/6.15.0/linux_amd64/LICENSE.txt
cap7-provisioners/Lab3/tarefa2/.terraform/providers/registry.terraform.io/hashicorp/aws/6.15.0/linux_amd64/terraform-provider-aws_v6.15.0_x5
cap7-provisioners/Lab3/tarefa2/terraform.tfstate
cap7-provisioners/Lab3/tarefa2/terraform.tfstate.backup
cap7-provisioners/Lab3/tarefa3/.terraform.lock.hcl
cap7-provisioners/Lab3/tarefa3/.terraform/providers/registry.terraform.io/hashicorp/aws/6.15.0/linux_amd64/LICENSE.txt
cap7-provisioners/Lab3/tarefa3/.terraform/providers/registry.terraform.io/hashicorp/aws/6.15.0/linux_amd64/terraform-provider-aws_v6.15.0_x5
cap7-provisioners/Lab3/tarefa3/dsa-lab3.pem
cap7-provisioners/Lab3/tarefa3/terraform.tfstate
cap7-provisioners/Lab3/tarefa3/terraform.tfstate.backup
cap7-provisioners/Lab3/tarefa4/.terraform.lock.hcl
cap7-provisioners/Lab3/tarefa4/.terraform/providers/registry.terraform.io/hashicorp/aws/6.15.0/linux_amd64/LICENSE.txt
cap7-provisioners/Lab3/tarefa4/.terraform/providers/registry.terraform.io/hashicorp/aws/6.15.0/linux_amd64/terraform-provider-aws_v6.15.0_x5
cap7-provisioners/Lab3/tarefa4/terraform.tfstate
cap7-provisioners/Lab3/tarefa5/terraform.tfstate.backup
cap7-provisioners/Lab3/tarefa4/terraform.tfstate.backup
cap7-provisioners/Lab3/tarefa5/.terraform/providers/registry.terraform.io/hashicorp/aws/6.15.0/linux_amd64/LICENSE.txt
cap7-provisioners/Lab3/tarefa5/.terraform.lock.hcl
cap7-provisioners/Lab3/tarefa5/.terraform/providers/registry.terraform.io/hashicorp/aws/6.15.0/linux_amd64/terraform-provider-aws_v6.15.0_x5
cap7-provisioners/Lab3/tarefa5/terraform.tfstate
